## Normalization [ Min Max Scaler] : 
##### *Its scales the data between 0 to 1.
##### *Best suitable for deep learning techniques.

In [2]:
import seaborn as sns

In [4]:
df = sns.load_dataset('taxis')

In [5]:
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
min_max = MinMaxScaler()

In [8]:
#taking the three columns applying fit on it
min_max.fit(df[['distance', 'fare', 'tip']])

MinMaxScaler()

In [9]:
#Now transforming the data 

min_max.transform(df[['distance', 'fare', 'tip']])

array([[0.04359673, 0.04026846, 0.06475904],
       [0.02152589, 0.02684564, 0.        ],
       [0.0373297 , 0.04362416, 0.07108434],
       ...,
       [0.11280654, 0.10067114, 0.        ],
       [0.03051771, 0.03355705, 0.        ],
       [0.10490463, 0.09395973, 0.10120482]])

In [10]:
## Or we can also perfrom the fit and transform together.

min_max.fit_transform(df[['distance', 'fare', 'tip']])

array([[0.04359673, 0.04026846, 0.06475904],
       [0.02152589, 0.02684564, 0.        ],
       [0.0373297 , 0.04362416, 0.07108434],
       ...,
       [0.11280654, 0.10067114, 0.        ],
       [0.03051771, 0.03355705, 0.        ],
       [0.10490463, 0.09395973, 0.10120482]])

In [12]:
## to add new data we will use .transform 

min_max.transform([[3,4,5]])

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

array([[0.08174387, 0.02013423, 0.15060241]])

In [13]:
import pandas as pd

In [15]:
df_normalized = pd.DataFrame(min_max.fit_transform(df[['distance', 'fare', 'tip']]), columns=['norm_dist','norm_fare', 'norm_tip'])

In [16]:
df_normalized.head() #norm

   norm_dist  norm_fare  norm_tip
0   0.043597   0.040268  0.064759
1   0.021526   0.026846  0.000000
2   0.037330   0.043624  0.071084
3   0.209809   0.174497  0.185241
4   0.058856   0.053691  0.033133